<footer class="bg-white mt-4">
    <div class="container py-1">
        <div class="row py-3">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Autores</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><p class="text-muted">Sergio Tapia</p></li>
                    <li class="mb-2"><p class="text-muted">Benjamín Ramos</p></li>
                    <li class="mb-2"><p class="text-muted">Benjamín Vial</p></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Profesora a cargo</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><p class="text-muted">Sandra Cano</p></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Ayudantes</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><p class="text-muted">Felipe Concha</p></li>
                    <li class="mb-2"><p class="text-muted">Javier Peña</p></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Curso</h6>
                <p class="text-muted mb-4"> ICI4240-1/2-INGENIERIA WEB(1S2021) </p>
                
            </div>

            <nav class="pull-right col-lg-4 col-md-6 mb-lg-0">
                <img src="https://www.pucv.cl/pucv/site/artic/20180109/imag/foto_0000000120180109113142.png" class="img-responsive" alt="Responsive image" width="300" height="113" title="" style="">            
            </nav>

        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="bg-light py-2">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">Pontificia Universidad Católica de Valparaíso</p>
        </div>
    </div>
</footer>